<div class="split-lists">

  {{ range $key, $value := .Site.Params.links }}
    {{ range $key, $list := $value }}

    {{ if $list.link }}
      <div class="split-list">
        <h3>Dennis Hörtinger</h3>
        <ul>
          <li><a id="mailto-link" href="mailto:dennishoertinger@gmail.com" title="Stalk me...">Contact</a></li>
          <li>|</li>
          <li><a href="https://www.behance.net/dennishoertinger" title="Stalk me...">Web</a></li>
          <li>|</li>
          <li><a href="https://www.instagram.com/hoertinger" title="Stalk me...">Art</a></li>
        </ul>
      </div>
    {{ end }}

    {{ end }}
  {{ end }}

</div>
